<app-duoc-header></app-duoc-header>
<ion-content>
<div class="profile-container marco" *ngIf="usuario">

  <!-- Nombre -->
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
    <ion-icon name="person-outline" slot="start"></ion-icon>
  </ion-item>

  <!-- Apellidos -->
  <ion-item>
    <ion-label position="floating">Apellidos</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.apellido"></ion-input>
    <ion-icon name="people-outline" slot="start"></ion-icon>
  </ion-item>

  <!-- Correo -->
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.correo"></ion-input>
    <ion-icon name="mail-outline" slot="start"></ion-icon>
  </ion-item>

  <!-- Pregunta Secreta -->
  <ion-item>
    <ion-label position="floating">Pregunta secreta</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.preguntaSecreta"></ion-input>
    <ion-icon name="help-circle-outline" slot="start"></ion-icon>
  </ion-item>

  <!-- Respuesta Secreta -->
  <ion-item>
    <ion-label position="floating">Respuesta secreta</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.respuestaSecreta"></ion-input>
    <ion-icon name="help-circle-outline" slot="start"></ion-icon>
  </ion-item>

  <!-- Contraseña -->
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
    <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
  </ion-item>

  <!-- Repetir Contraseña -->
  <ion-item>
    <ion-label position="floating">Repetir contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="repeticionPassword"></ion-input>
    <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
  </ion-item>

  <!-- Botón de Actualizar -->
  <div class="update-button-container">
    <ion-button expand="full" (click)="actualizarPerfil()">Registrarse</ion-button>
  </div>
  <div class="update-button-container other">
    <ion-button (click)="volver()">Volver</ion-button>
  </div>
 
</div>

</ion-content>
<style>
  .profile-container {
    padding: 1rem;
  }

  .update-button-container {
    margin-top: 2rem;
    text-align: center;
  }

</style>
