<ion-content [fullscreen]="true">

  <app-duoc-header></app-duoc-header>
  <ion-card>

    <ion-card-content>

      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Incorrecto</ion-title>
        </ion-toolbar>
      </ion-header>
      <!-- ""aqui"" -->
      <ion-text>
        <ion-title id="recuperar-contrasena" style="text-align: center; margin-bottom: 20px; color: red;">Contraseña incorrecta</ion-title>
      </ion-text>
    
      <style>
        /* Define la animación de parpadeo */
        @keyframes parpadeo {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
    
        /* Aplica la animación de parpadeo al título */
        #recuperar-contrasena {
          animation: parpadeo 2s infinite;
        }
      </style>
    

      <style>
        /* Define la animación de parpadeo */
        @keyframes parpadeo {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
    
        /* Aplica la animación de parpadeo al título */
        #mensaje-error {
          animation: parpadeo 2s infinite;
        }
      </style>
    
    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
      <img src="assets/icon/incorrecto.jpg" alt="Logo DUOC" class="responsive-img">
    </div>
    </ion-card-content>
    

  </ion-card>

  <app-inicio-sesion></app-inicio-sesion>

</ion-content>
