.error-message {
    color: red; // Cambia el color según tus preferencias
    font-size: 14px; // Cambia el tamaño de fuente según tus preferencias
    margin-top: 10px; // Opcional, agrega margen superior si es necesario
  }