<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asistencia DUOC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="correo" type="text" label="Correo" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="password" type="text" label="Contraseña" labelPlacement="floating"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="ingresar()" expand="block" fill="clear" shape="round">
      Ingresar
    </ion-button>
  </ion-item>
</ion-content>
