<ion-content [fullscreen]="true">

  <app-duoc-header></app-duoc-header>
  <div class="ion-padding"></div>
  <ion-card>

    <ion-card-content>

      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">correo</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-text>
        <ion-title style="text-align: center;">Recuperar contraseña</ion-title>
        <ion-title style="text-align: center;">Paso 1: <strong>ingresa tu correo</strong></ion-title>
      </ion-text>
      
      <ion-list class="ion-padding">
        <ion-input
          type="email"
          fill="solid"
          label="Correo"
          labelPlacement="floating"
          errorText="Correo invalido"
          [(ngModel)]="userEmail" 
          email
        ></ion-input>
      </ion-list>
      <ion-button expand="full" class="ion-margin" (click)="handleLogin()">
        recuperar contraseña
      </ion-button>

    </ion-card-content>

  </ion-card>

  <app-inicio-sesion></app-inicio-sesion>

</ion-content>